<div class="row">
  <div class="small-6 columns">
  	
	 <h1>Newslettersaas</h1>
	 <p>Grow your audience by curating and sharing engaging content.</p>
	 <p><%= link_to "Create Account", new_account_path, class: 'success button' %></p>
    
  </div>
</div>